.typingspeed-section {
    width:95%;
    height: 88vh;
    margin:auto;
    overflow-y: auto;

    h1 {
        position: sticky;
        top:0;
        z-index: 2;
    }

    .typingspeed-start {
        max-width: 500px;
        margin: auto;
        background: white;
        padding:30px;
        margin-top:40px;
        box-shadow: 0px 0px 15px 0px rgba(138, 33, 33, 0.575);

        button {
            transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s,box-shadow 0.15s ease-in-out 0s;
        }
    }

    .typingspeed-board-main {
        display: grid;
        grid-template-areas:'progress progress progress progress'
                            'wpm   board board  timer'
                            'cpm inputText inputText   error'
                            'lastScore  inputText inputText accuracy'
                            ;
        grid-gap: 30px;
        width: 90%;
        margin:auto;
        margin-top:50px;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-auto-rows: aut-fit;
        

        .item {
            background:#222;
            color:grey;
            padding:10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            p {
                font-weight: bold;
                font-size: 40px;
                color: lightgrey ;
            }
        }
        .typingGrid-0 {
            grid-area: progress;
            width:100%;
            overflow:hidden;
        }
        .typingGrid-1 {
            grid-area: wpm;
        }
        .typingGrid-2 {
            grid-area: cpm;

        }
        .typingGrid-3 {
            grid-area: lastScore;

        }
        .typingGrid-4 {
            grid-area: timer;
        }
        .typingGrid-5 {
            grid-area: error;
        }
        .typingGrid-6 {
            grid-area: accuracy;
        }
        .typingGrid-7 {
            grid-area: board;
        }
        .typingGrid-8 {
            grid-area:inputText;
        }

        .over {
            animation: border-pulse 2s infinite;
        }
        
       
    
        .typingspeed-text {      
            background-color: #222;
            font-size: 2.75rem;
            font-family: "Cutive Mono", "Courier New", monospace;
            white-space: pre;
            padding: .75rem 1rem;
            color:rgb(126, 111, 111);;
            overflow: hidden;
            display: inline-block;
            width: 100%;
            min-height: 5.75rem;
            border-radius: .25rem;
            position: relative;
            box-shadow: 0 0 3px 0.15rem rgb(23, 168, 27);
            outline: 0;
    
            &:focus {
                box-shadow: 0 0 20px 0.15rem rgb(233, 50, 17);
            }
            &::after {
                    content: '';
                    position: absolute;
                    width: 1.5rem;
                    height: 0.3rem;
                    background: #fff;
                    left: 1rem;
                    top: 4rem;
                    animation: flash 0.7s infinite;
                    -webkit-animation: flash 0.7s infinite;
            }
        }
        .typingspeed-form {
                width: 100%;
                padding:20px 10px;
                font-size: 1.3rem;
        }
            @-webkit-keyframes flash {
                0% {
                    background: #fff;
                }
            
                40% {
                    background: #222;
                }
            
                100% {
                    background: #fff;
                }
            }
            
            @keyframes flash {
                0% {
                    background: #fff;
                }
            
                50% {
                    background: #222;
                }
            
                100% {
                    background: #fff;
                }
            }
        }
    
    // typing speed board main

}

.btn-circle {
    color: #28a745;
    border-color: #28a745;
    background: transparent;
    
    border-radius: 50%;
    border:2px solid #28a745;
	width: 70px;
    height: 70px;
    outline: 0;
	padding: 0;
	font-weight: bold;
    animation: border-pulse 2s infinite;
    
    &:hover {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
            cursor: pointer;
            transition: all 0.6s linear;
    }
}
.btn-circle:focus {
	outline: 0;
}

@keyframes border-pulse {
	0% {
		box-shadow: 0px 0px 15px 0px rgba(138, 33, 33, 0.575);
	}
	50% {
		box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0);
	}
	100% {
		box-shadow: 0px 0px 15px 0px rgba(138, 33, 33, 0.575);
	}
}

.typingspeed-ranking {
    .typingspeed-ranking-container {
        width:100%;
        border-radius: 10px;
    }
    max-width: 500px;
    margin:auto;
}